.NavBar {
    background-color: #fff8ed
}

.navbarLogo {
    max-width: 200px;
    height: auto;
}

* {
    box-sizing: border-box;
}

a{
    color: black;
    transition: color ease-in-out 0.3s;
}

a:hover {
    text-decoration: none;
    color: #2e2e2e;
}

a:hover i {
    color: #2e2e2e;
    transition: color ease-in-out 0.3s;
}
  
i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}
  
i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: darkslategray;
}

.Active i {
    color: #2e2e2e;
    text-decoration: underline;
}