.NavBar {
    background-color: #fff8ed;
}

.navbarLogo {
    max-width: 200px;
    height: auto;
}

* {
    box-sizing: border-box;
}

.NavLink {
    color: #acacac;
    transition: color ease-in-out 0.3s;
    font-weight: 500;
}

.NavLink:hover {
    text-decoration: none;
    color: #2e2e2e;
}

.NavLink:hover i {
    color: #2e2e2e;
    transition: color ease-in-out 0.3s;
}
  
i {
    color: #acacac;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}
  
i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #2e2e2e;
}

.Active {
    color: #2e2e2e;
}

.Active i {
    color: #2e2e2e;
}
