.NavBar {
    background-color: #fff8ed;
    width: 100vw;
}

.navbarLogo {
    max-width: 200px;
    height: auto;
}

* {
    box-sizing: border-box;
}

.NavLink {
    color: #717171;
    transition: color ease-in-out 0.3s;
    font-weight: 500;
    padding-right: 12px;
}

.NavLink:hover {
    text-decoration: none;
    color: #5a473a;
}

.NavLink:hover i {
    color: #5a473a;
    transition: color ease-in-out 0.3s;
}
  
i {
    color: #858585;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

.Active {
    color: #5a473a;
    font-weight: 800;
}

.Active i {
    color: #5a473a;
}
