.Container {
    min-height: 343px;
    border-radius: 10px;
}

.FormHeader {
    font-size: 3em;
    margin-bottom: 1em;
}

.InlineLink {
    text-decoration: underline;
    color: #5a473a;
}

.InfoIcon {
    color: #5a473a;
    font-size: larger;
}