.TripPost {
    background-color: #fffefb;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    margin-bottom: 30px;
}

.TripPostImage {
    height: 65vh;
    width: auto;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.TripPostTitle {
    font-size: 1.8em;
    font-weight: 600;
}

.Username {
    color: #444444;
    font-weight: 600;
    font-size: 1.25em;
}

.Username:hover {
    color: black;
    text-decoration: none;
}

.Post figure,
h5 {
    margin: 0 0;
}

.Heart {
    color: #f85032;
}

.Heart:hover {
    color: #f85032;
}

.HeartOutline:hover {
    color: #444444;
}

.ReadMore {
    font-weight: 600;
    color: #5a473a;
}

.ReadMore:Hover {
    text-decoration: underline ;
    color: #444444;
}
