.Row {
    margin-bottom: 30px;
}

/* Hero Styles */
.Hero {
    background-color: rgb(61, 54, 54);
    border-radius: 10px;
    height: 75vh;
    background-image: url('https://res.cloudinary.com/dimeyes2b/image/upload/v1741680019/126A1396_yqo1rw.jpg');
    background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
}

.WelcomeH1 {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
    text-align: center;
    min-height: 75vh;
    color: #fff;
    font-family: 'DM Serif Display', serif;
}

.SubSectionTitle {
    font-family: 'DM Serif Display', serif;
}

/* About Us and Community Guidelines */
.ImageCol {
    height: 70vh;
    margin: 15px;
    background-position: bottom center;
	background-size: cover;
	background-repeat: no-repeat;
    padding: 0;
    border-radius: 10px;
}

.TextCol {
    min-height: 70vh;
    min-width: 310px;
    border-radius: 10px;
    background-color: #cfb19d;
    width: auto;
    margin: 15px;
}