.App {
    font-family: "Roboto", sans-serifs;
    background-color: #fff8ed;
    min-height: 100vh;
}

.Main {
    padding-top: 110px;
}

* {
    box-sizing: border-box;
}

/* Font Styles */

.WhiteText {
    color: #fff8ed;
}

.RobotoFont {
    font-family: 'Roboto', sans-serif;
}

.DmSerifFont {
    font-family: 'DM Serif Display', serif;
}