.App {
    font-family: "Roboto", sans-serifs;
    background-color: #fff8ed;
    min-height: 100vh;
}

.Main {
    padding-top: 110px;
}

* {
    box-sizing: border-box;
}

.Content {
    background-color: #dfd8ce;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #b3aa9b;
}

/* .Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
} */

/* Font Styles */

.WhiteText {
    color: #fff8ed;
}

.RobotoFont {
    font-family: 'Roboto', sans-serif;
}

.DmSerifFont {
    font-family: 'DM Serif Display', serif;
}